<% form_for @person do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
    </p>
    <p>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
    </p>

    <% f.fields_for :addresses do |addr| %>
        <p>
            <%= addr.label :street %><br />
            <%= addr.text_field :street %>
        </p>
        <p>
            <%= addr.label :city %><br />
            <%= addr.text_field :city %>
        </p>
        <p>
            <%= addr.label :state %><br />
            <%= addr.text_field :state %>
        </p>
        <p>
            <%= addr.label :zip %><br />
            <%= addr.text_field :zip %>
        </p>
    <% end %>

    <p>
        <%= f.submit %>
    </p>
<% end  %>
