<% form_for @person do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
    </p>
    <p>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
    </p>

    <% f.fields_for :addresses do |addr| %>
        <div class="address">
            <%= link_to "Delete", '#', :class => 'delete_link' %>
              <%= addr.hidden_field :_destroy %>
                <p>
                    <%= addr.label :street %><br />
                    <%= addr.text_field :street %>
                </p>
                <p>
                    <%= addr.label :city %><br />
                    <%= addr.text_field :city %>
                </p>
                <p>
                    <%= addr.label :state %><br />
                    <%= addr.text_field :state %>
                </p>
                <p>
                    <%= addr.label :zip %><br />
                    <%= addr.text_field :zip %>
                </p>
        </div>
    <% end %>

    <%= link_to "Add one", '#', :class => 'add_one_link' %>

    <p id="submit">
      <%= f.submit %>
    </p>
<% end  %>

<%= javascript_tag <<-JS
$(function(){
    window.addressForm = $('.address:last').clone();
    window.nextIdx = 1;
    $('.add_one_link').click(function(){
       var copy = window.addressForm.clone();
       var nextIdx = window.nextIdx;
       copy.find('input').each(function(){
         $(this).val('');
         var name = $(this).attr('name').replace(/[0-9]+/,nextIdx);
         $(this).attr('name',name);
         var id = $(this).attr('id').replace(/[0-9]+/,nextIdx);
         $(this).attr('id',id);
       });
       copy.find('label').each(function(){
         var label_for = $(this).attr('for').replace(/[0-9]+/,nextIdx);
         $(this).attr('for',label_for);
       });
       ++window.nextIdx;
       copy.insertBefore($('.add_one_link'));
    });
    $('.delete_link').live('click', function(){
        $(this).parent().hide(); // don't remove it--it still needs to get to the server
        $(this).parent().find('input[name*=_destroy]').val('1');
    });
});
JS
%>
